body{
    background: radial-gradient(ellipse at bottom, #351b1b 0%, #090a0f 100%);
    margin: 0;
    font-family: 'Anton', sans-serif;
    overflow-x: hidden;
}

.sideNav{
    background: rgba(0, 0, 0, 0.493);
    height: 100%;
    width: 350px;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
}

.sideNav a{
    color: white;
    text-decoration: none;
    font-size: 40px;
    display: block;
    padding: 30px 0 25px 25px;
}

.sideNav a:nth-child(3){
    color: black;
    background-color: white;
}

.sideNav a:nth-child(5){
    position: absolute;
    bottom: 0;
}

.sideNav a:not(.sideNav a:nth-child(3)):hover{
    text-decoration: underline;
    color: rgb(221, 219, 219);
}

.illus{
    margin-left: 380px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.illus img{
    margin: 0;
    transition: transform 0.15s ease-in;
    z-index: 1;
}

.illus img:hover{
    transform: scale(1.03);
    box-shadow: 0 0 30px rgba(250, 77, 77, 0.568);
    z-index: 2;
}